<div class="phase-management container">
	<h4>Phase management</h4>

	<div class="container">
		<div class="row">
			<mat-form-field class="col-sm-6">
				<input matInput="matInput"
				       placeholder="Phase"
				       value="" />
			</mat-form-field>
			<mat-form-field class="col-sm-6">
				<input matInput="matInput"
				       type="number"
				       placeholder="No. of Units"
				       value="" />
			</mat-form-field>
		</div>
		<div class="container text-center">
			<button mat-raised-button
			        class="mr-2"
			        (click)="handleAdd()"
			        color="primary">Add</button>
			<button mat-raised-button
			        (click)="handleClear()"
			        color="warn">Clear</button>
		</div>
	</div>
	<div class="container mt-2">
		<div class="mat-elevation-z3">
			<mat-form-field class="col-sm-6">
				<input matInput
				       (keyup)="applyFilter($event.target.value)"
				       placeholder="Filter">
			</mat-form-field>
			<mat-table [dataSource]="dataSource"
			           matSort>
				<ng-container [matColumnDef]="col"
				              *ngFor="let col of displayedColumns">
					<mat-header-cell *matHeaderCellDef
					                 mat-sort-header> {{ col }} </mat-header-cell>
					<mat-cell *matCellDef="let element"> {{ element[col] }} </mat-cell>
				</ng-container>
				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
			</mat-table>
			<mat-paginator [pageSizeOptions]="[5, 10, 20]"
			               showFirstLastButtons></mat-paginator>
		</div>
	</div>

</div>