/* You can add global styles to this file, and also import other style files */

// * {
//     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
// }
@import "node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~@angular/material/theming";
@include mat-core();
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

// colors
$teal: mat-palette($mat-teal);
$orange: mat-palette($mat-orange, A200, A100, A400);
$deep-orange: mat-palette($mat-deep-orange);
$light-blue: mat-palette($mat-light-blue);
$red: mat-palette($mat-red);
$amber: mat-palette($mat-amber, A200, A100, A400);
$blue-gray: mat-palette($mat-blue-grey);
$indigo: mat-palette($mat-indigo);
// themes
$light-theme: mat-light-theme($indigo, $teal, $deep-orange);
$dark-theme: mat-dark-theme($blue-gray, $amber, $deep-orange);
// adding to app
@include angular-material-theme($light-theme);
.dark-theme {
    @include angular-material-theme($dark-theme);
}